<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1028983805134-9tbma02jt3rs1p1knqmo98l0slup97ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028983805134-9tbma02jt3rs1p1knqmo98l0slup97ea</string>
	<key>API_KEY</key>
	<string>AIzaSyACjSrlrL--mfbWxa5gOV0iHMTpsfig85k</string>
	<key>GCM_SENDER_ID</key>
	<string>1028983805134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasemanual</string>
	<key>PROJECT_ID</key>
	<string>test-a56a2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a56a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028983805134:ios:ad5c92ca6d27ddbc</string>
	<key>DATABASE_URL</key>
	<string>https://test-a56a2.firebaseio.com</string>
</dict>
</plist>